@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
    url('/fonts/SF/SFProDisplay-Ultralight.woff2') format('woff2'),
    url('/fonts/SF/SFProDisplay-Ultralight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display UltralightItalic'),
    local('SFProDisplay-UltralightItalic'),
    url('/fonts/SF/SFProDisplay-UltralightItalic.woff2') format('woff2'),
    url('/fonts/SF/SFProDisplay-UltralightItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
    url('/fonts/SF/SFProDisplay-Thin.woff2') format('woff2'),
    url('/fonts/SF/SFProDisplay-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display ThinItalic'), local('SFProDisplay-ThinItalic'),
    url('/fonts/SF/SFProDisplay-ThinItalic.woff2') format('woff2'),
    url('/fonts/SF/SFProDisplay-ThinItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
    url('/fonts/SF/SFProDisplay-Light.woff2') format('woff2'),
    url('/fonts/SF/SFProDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display LightItalic'), local('SFProDisplay-LightItalic'),
    url('/fonts/SF/SFProDisplay-LightItalic.woff2') format('woff2'),
    url('/fonts/SF/SFProDisplay-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
    url('/fonts/SF/SFProDisplay-Regular.woff2') format('woff2'),
    url('/fonts/SF/SFProDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Regular Italic'),
    local('SFProDisplay-RegularItalic'),
    url('/fonts/SF/SFProDisplay-RegularItalic.woff2') format('woff2'),
    url('/fonts/SF/SFProDisplay-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text Regular Italic'), local('SFProText-RegularItalic'),
    url('/fonts/SF/SFProText-RegularItalic.woff2') format('woff2'),
    url('/fonts/SF/SFProText-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
    url('/fonts/SF/SFProDisplay-BlackItalic.woff2') format('woff2'),
    url('/fonts/SF/SFProDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
    url('/fonts/SF/SFProDisplay-Medium.woff2') format('woff2'),
    url('/fonts/SF/SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display MediumItalic'), local('SFProDisplay-MediumItalic'),
    url('/fonts/SF/SFProDisplay-MediumItalic.woff2') format('woff2'),
    url('/fonts/SF/SFProDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
    url('/fonts/SF/SFProDisplay-Semibold.woff2') format('woff2'),
    url('/fonts/SF/SFProDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display SemiboldItalic'),
    local('SFProDisplay-SemiboldItalic'),
    url('/fonts/SF/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
    url('/fonts/SF/SFProDisplay-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
    url('/fonts/SF/SFProDisplay-Bold.woff2') format('woff2'),
    url('/fonts/SF/SFProDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display BoldItalic'), local('SFProDisplay-BoldItalic'),
    url('/fonts/SF/SFProDisplay-BoldItalic.woff2') format('woff2'),
    url('/fonts/SF/SFProDisplay-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
    url('/fonts/SF/SFProDisplay-Heavy.woff2') format('woff2'),
    url('/fonts/SF/SFProDisplay-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display HeavyItalic'), local('SFProDisplay-HeavyItalic'),
    url('/fonts/SF/SFProDisplay-HeavyItalic.woff2') format('woff2'),
    url('/fonts/SF/SFProDisplay-HeavyItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
    url('/fonts/SF/SFProDisplay-Black.woff2') format('woff2'),
    url('/fonts/SF/SFProDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text Light'), local('SFProText-Light'),
    url('/fonts/SF/SFProText-Light.woff2') format('woff2'),
    url('/fonts/SF/SFProText-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text LightItalic'), local('SFProText-LightItalic'),
    url('/fonts/SF/SFProText-LightItalic.woff2') format('woff2'),
    url('/fonts/SF/SFProText-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text Regular'), local('SFProText-Regular'),
    url('/fonts/SF/SFProText-Regular.woff2') format('woff2'),
    url('/fonts/SF/SFProText-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text Medium'), local('SFProText-Medium'),
    url('/fonts/SF/SFProText-Medium.woff2') format('woff2'),
    url('/fonts/SF/SFProText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text MediumItalic'), local('SFProText-MediumItalic'),
    url('/fonts/SF/SFProText-MediumItalic.woff2') format('woff2'),
    url('/fonts/SF/SFProText-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text Semibold'), local('SFProText-Semibold'),
    url('/fonts/SF/SFProText-Semibold.woff2') format('woff2'),
    url('/fonts/SF/SFProText-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text SemiboldItalic'), local('SFProText-SemiboldItalic'),
    url('/fonts/SF/SFProText-SemiboldItalic.woff2') format('woff2'),
    url('/fonts/SF/SFProText-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text Bold'), local('SFProText-Bold'),
    url('/fonts/SF/SFProText-Bold.woff2') format('woff2'),
    url('/fonts/SF/SFProText-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text BoldItalic'), local('SFProText-BoldItalic'),
    url('/fonts/SF/SFProText-BoldItalic.woff2') format('woff2'),
    url('/fonts/SF/SFProText-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text Heavy'), local('SFProText-Heavy'),
    url('/fonts/SF/SFProText-Heavy.woff2') format('woff2'),
    url('/fonts/SF/SFProText-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text HeavyItalic'), local('SFProText-HeavyItalic'),
    url('/fonts/SF/SFProText-HeavyItalic.woff2') format('woff2'),
    url('/fonts/SF/SFProText-HeavyItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
